html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container .row {
  margin-bottom: 0;
}
.container.bloc-menu {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 5;
  height: auto;
  width: 180px;
}
.container.bloc-menu .team-0:hover {
  background-color: #BBB !important;
}
.container.bloc-menu .team-1:hover {
  background-color: #A9CCE3 !important;
}
.container.bloc-menu .team-2:hover {
  background-color: #E6B0AA !important;
}
.container.bloc-menu .team-3:hover {
  background-color: #F9E79F !important;
}
.container.bloc-content {
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  width: 50%;
  z-index: 6;
  display: none;
}
.container.bloc-content .close {
  float: right;
  font-size: 32px;
  cursor: pointer;
  line-height: 48px;
}
.container.bloc-content .bloc-list-button.bloc-list-button-sort {
  text-align: right;
}
.container.bloc-content .bloc-list-button.bloc-list-button-sort .chip {
  margin-right: 3px;
}
.container.bloc-content .items {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}
.container.bloc-content .item_img {
  width: 75px;
  height: auto;
}
.container.bloc-content .gif_img {
  width: 38px;
  height: auto;
}
.container.bloc-content .png_img {
  width: 96px;
  height: auto;
}
.container.bloc-content .teambar-0 {
  background-color: #BBB;
}
.container.bloc-content .teambar-1 {
  background-color: #A9CCE3;
}
.container.bloc-content .teambar-2 {
  background-color: #E6B0AA;
}
.container.bloc-content .teambar-3 {
  background-color: #F9E79F;
}
.container.bloc-trainers .trainers-list {
  max-height: 80vh;
}
.container.bloc-trainers .trainers-list .trainer-button-element {
  margin-bottom: 20px;
}
.container.bloc-trainers .trainers-list::-webkit-scrollbar {
  display: none;
}
.navButton {
  position: relative;
  top: -30px;
  right: -30px;
}
.collapsible-body a {
  width: 100%;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}
.collapsible-body {
  background: #FFF;
  padding: 1em;
}
.card .card-content {
  padding: 10px 20px 20px 20px;
}
.collapsible-title {
  display: block;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.collapsible-title i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
.trainer-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#logs-panel {
  display: none;
  position: fixed;
  height: 50vh;
  width: 360px;
  z-index: 5;
  left: 10px;
  bottom: 10px;
}
#logs-panel .card {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}
.log-item {
  padding: .3em 0 .3em 0;
  font-size: 14px;
}
.log-date {
  color: #666;
}
.team-0 {
  background-color: #777 !important;
}
.team-1 {
  background-color: #2471A3 !important;
}
.team-2 {
  background-color: #A93226 !important;
}
.team-3 {
  background-color: #D4AC0D !important;
}
