html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Materialize elements */
.card {
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
.card .card-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.card .card-content {
  padding: 10px 20px 50px;
}
#toast-container {
  top: auto !important;
  right: 5%;
  bottom: 5%;
  left: 5%;
  min-width: inherit;
}
/* Design Fix Action Button tooltips on wide screen */
@media only screen and (min-width: 993px) {
  .mobile-fab-tip {
    display: none;
  }
  .material-tooltip {
    border-radius: 10px;
  }
}
/* Fix and design Fix Action Button tooltips on mobile */
@media only screen and (max-width: 992px) {
  .material-tooltip {
    display: none !important;
  }
  .mobile-fab-tip {
    position: fixed;
    z-index: 2000;
    right: 85px;
    margin-top: 12px;
    padding: 10px 8px;
    text-align: right;
    background-color: #323232;
    border-radius: 10px;
    color: #FFF;
    min-height: 36px;
    line-height: 120%;
    font-size: 1rem;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
/* Navbar */
nav .brand-logo .trainertool-logo {
  width: 48px;
  height: 56px;
  background: transparent url(../image/icons/Settings.png) no-repeat center center;
  background-size: 48px;
}
@media only screen and (min-width: 601px) {
  nav .brand-logo .trainertool-logo {
    width: 56px;
    height: 64px;
    background-size: 56px;
  }
}
nav .brand-logo .left {
  left: 0.5rem;
}
/* Content bloc */
section.bloc-content .row {
  margin-bottom: 0;
}
section.bloc-content .col {
  padding: 0 0.25rem;
}
section.bloc-content .col .close {
  float: right;
  font-size: 32px;
  cursor: pointer;
  line-height: 48px;
}
section.bloc-content .col .bloc-list-button.bloc-list-button-sort {
  text-align: right;
}
section.bloc-content .col .bloc-list-button.bloc-list-button-sort .chip {
  margin-right: 3px;
}
section.bloc-content .col .items {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}
section.bloc-content .col .item_img {
  width: 75px;
  height: auto;
}
section.bloc-content .col .gif_img {
  width: 38px;
  height: auto;
}
section.bloc-content .col .png_img {
  width: 96px;
  height: auto;
}
section.bloc-content .col .teambar-0 {
  background-color: #BBB;
}
section.bloc-content .col .teambar-1 {
  background-color: #A9CCE3;
}
section.bloc-content .col .teambar-2 {
  background-color: #E6B0AA;
}
section.bloc-content .col .teambar-3 {
  background-color: #F9E79F;
}
section.bloc-content .col .team-0 {
  background-color: #777;
}
section.bloc-content .col .team-1 {
  background-color: #2471A3;
}
section.bloc-content .col .team-2 {
  background-color: #A93226;
}
section.bloc-content .col .team-3 {
  background-color: #D4AC0D;
}
/* Section menu bloc */
aside#section-menu-bloc .fixed-action-btn {
  bottom: 10px;
  right: 2.75rem;
  margin-right: -28px;
}
aside#section-menu-bloc .fixed-action-btn .section-button-logo {
  width: 55.5px;
  height: 55.5px;
  background: transparent url(../image/icons/pokemon_go_app_icon.png) no-repeat center center;
  background-size: 55.5px;
}
aside#section-menu-bloc .fixed-action-btn .btn-floating .bag-logo {
  width: 55.5px;
  height: 54.5px;
  background: transparent url(../image/icons/Bag.png) no-repeat center center;
  background-size: 42px;
  margin-top: -1px;
}
aside#section-menu-bloc .fixed-action-btn .btn-floating .pokedex-logo {
  width: 55.5px;
  height: 55.5px;
  background: transparent url(../image/icons/Pokedex.png) no-repeat center center;
  background-size: 44px;
}
aside#section-menu-bloc .fixed-action-btn .btn-floating .pokemon-logo {
  width: 55.5px;
  height: 55.5px;
  background: transparent url(../image/icons/psyduck.png) no-repeat center center;
  background-size: 44px;
}
aside#section-menu-bloc .fixed-action-btn .btn-floating .info-logo {
  width: 55.5px;
  height: 53.5px;
  background: transparent url(../image/icons/pokemon_pokecenter.png) no-repeat center center;
  background-size: 42px;
  margin-top: 2px;
}
aside#section-menu-bloc .fixed-action-btn .btn-floating.red .info-logo {
  background-image: url(../image/icons/pokemon_moltres.png);
}
aside#section-menu-bloc .fixed-action-btn .btn-floating.blue .info-logo {
  background-image: url(../image/icons/pokemon_articuro.png);
}
aside#section-menu-bloc .fixed-action-btn .btn-floating.yellow .info-logo {
  background-image: url(../image/icons/pokemon_zapdos.png);
}
/* Logs bloc */
aside#logs-bloc #logs-button {
  position: fixed;
  z-index: 1000;
  left: 0.75rem;
  bottom: 10px;
  border-radius: 10px;
}
aside#logs-bloc #logs-panel {
  display: none;
  position: fixed;
  height: 50vh;
  z-index: 1000;
  left: 0.75rem;
  bottom: 51px;
}
aside#logs-bloc #logs-panel .title {
  font-size: 18px;
  font-weight: bold;
}
aside#logs-bloc #logs-panel .divider {
  margin: 3px 0;
}
aside#logs-bloc #logs-panel .card {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}
aside#logs-bloc #logs-panel .card .log-item {
  padding: .3em 0 .3em 0;
  font-size: 14px;
}
aside#logs-bloc #logs-panel .card .log-item .log-date {
  color: #666;
}
