{
    "auth_service": "google",
    "username": "example@gmail.com",
    "password": "password",
    "location": "Lat,Lng OR Place name in Gmap",
    "remote_host": "(Remote mode only) Host for remote mode",
    "remote_port": "(Remote mode only) Port for remote mode"
}
