var settings = {
    /**
     * TRAINERS INFO SETTINGS
     */
    trainers: ["USERNAME"],

    //Multiple trainers example:
    /*trainers: [
        "USERNAME1",
        "USERNAME2"
    ],*/

    /**
     * REMOTE SERVER SETTINGS
     */
    remoteServer: {
        url: 'REMOTE_URL (let empty by default)'
    }
};